{% extends "main.html" %}
{% block content %}
  <div class="col-md-3 col-md-offset-1">
    <h3>Edit item</h3>

    <form action="{{ url_for('edit_item', id = item_display.id) }}" method='POST'>
      <label for="title">Title:</label><br>

      <input type="text" name="title" value="{{ item_display.title }}"><br>

      <label for="desc">Description:</label><br>

      <textarea name="desc" rows="10" cols="50">{{ item_display.title }}</textarea><br>

      <label for="catalog_id">Catalog:</label><br>

      <select name="catalog_id" class="selectpicker">
        {% for catalog in catalogs_display %}
          <option value="{{ catalog.id }}" {{ "selected" if catalog.id == item_display.catalog_id }}>{{ catalog.name }}</option>
        {% endfor %}
      </select><br><br>

      <input class="btn btn-default" type='submit' value='Submit'>
    </form>
  </div>
{% endblock %}